<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1 style="font-family: tahoma">Dashboard</h1>
    <div>
        <div style="float:left; width: 400px; font-family: tahoma">
            <p>Last Temperature: {{ last_temperature }}</p>
            <p>Event Timestamp: {{ last_temperature_datetime }}</p>
        </div>
        <div style="float:left; width: 400px; font-family: tahoma">
            <p>Last Vibration: {{ last_vibration }}</p>
            <p>Event Timestamp: {{ last_vibration_datetime }}</p>
        </div>
    </div>
</body>
</html>